In [58]:
import pandas as pd
import numpy as np

In [68]:
# csv파일 불러오기
df_bond_volume = pd.read_csv('bond_volume_month.csv', index_col=0, parse_dates=True)
df_bond_volume.index = df_bond_volume.index.to_period('M')
df_bond_interest = pd.read_csv('bond_interest_month.csv', index_col=0, parse_dates=True)
df_bond_interest.index = df_bond_interest.index.to_period('M')
df_cpi = pd.read_csv('cpi.csv', index_col=0, parse_dates=True)
df_cpi.index = df_cpi.index.to_period('M')

/var/folders/89/q65htr7s3zx_vygvg7q4nd3h0000gn/T/ipykernel_12417/555068753.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_bond_volume = pd.read_csv('bond_volume_month.csv', index_col=0, parse_dates=True)
/var/folders/89/q65htr7s3zx_vygvg7q4nd3h0000gn/T/ipykernel_12417/555068753.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_bond_interest = pd.read_csv('bond_interest_month.csv', index_col=0, parse_dates=True)
/var/folders/89/q65htr7s3zx_vygvg7q4nd3h0000gn/T/ipykernel_12417/555068753.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cpi = pd.read_csv('cpi.csv', index_col=0, parse_dates=True)

In [69]:
# 열이름 변경
df_bond_volume.rename(columns={'원자료':'kgb_1y_volume','원자료.1':'kgb_1y_bal','원자료.2':'ktb_3m_volume','원자료.3':'ktb_3m_bal'}, inplace=True)
df_bond_interest.rename(columns={'원자료':'kgb_1y_return','원자료.1':'ktb_3m_return'}, inplace=True)
df_cpi.rename(columns={'원자료':'cpi_index'}, inplace=True)

In [70]:
df = pd.concat([df_bond_interest, df_bond_volume, df_cpi], axis=1)
df.drop(columns=['kgb_1y_bal', 'ktb_3m_bal'], inplace=True)
df = df[['kgb_1y_return', 'kgb_1y_volume', 'ktb_3m_return', 'ktb_3m_volume', 'cpi_index']]

In [71]:
df

         kgb_1y_return kgb_1y_volume  ktb_3m_return ktb_3m_volume  cpi_index
변환
2000-01            NaN           NaN            NaN      20,943.2     62.456
2000-02          8.530           NaN            NaN      18,255.7     62.647
2000-03          8.350           NaN            NaN      11,591.1     62.962
2000-04          8.340           NaN            NaN      11,449.5     62.709
2000-05          8.340           NaN            NaN       4,272.1     62.393
...                ...           ...            ...           ...        ...
2022-12          3.705       2,700.0          3.444       7,210.0    109.280
2023-01          3.584      12,961.7          3.460      10,770.0    110.100
2023-02          3.528      14,188.2          3.464      11,850.0    110.380
2023-03          3.452      18,836.6          3.434      10,820.0    110.560
2023-04          3.254           NaN          3.241      12,050.0    110.800

[280 rows x 5 columns]

In [72]:
df.to_csv('bondncpi.csv')